*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    height: 100vh;
}

.red{
    background-color: red;
}

.green{
    background-color: lightgreen;
}

.yellow{
    background-color: yellow;
}