*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@700&display=swap');
html {
    scroll-behavior: smooth;
  }


header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1;
}

header nav ul li{
    display: inline-block;
    list-style: none;
}


header nav ul li a{
    display: inline-block;
    text-decoration: none;
    margin: 30px;
    background-color: white;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    font-weight: bold;
}

/* ----------Hover---------- */
header nav ul li a:hover{
    box-shadow: 5px 5px 20px black;
}

header nav ul li a:hover{
    color: gold;
}  
/* ----------Hover---------- */  

/* ----------Utility---------- */
.f-rowdies{
    font-family: 'Rowdies', cursive;
}

.container{
    height: 100vh;
    position: relative;
}

.product{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.img-style{
    max-width: 100%;
}
/* ----------Utility---------- */

/* ----------Main---------- */
.red{
    background-color: red;
    position: relative;
}

.green{
    background-color: lightgreen;
    position: relative;
}

.yellow{
    background-color: yellow;
    position: relative;
}
/* ----------Main---------- */


.product h2{
    text-align: center;
    padding-top: 0;
    font-variant: small-caps;
    color: yellow;
    font-size: 4em;
}

.n-2 h2{
    color: red;
}

.n-3 h2{
    color: rgb(71, 207, 71);
}

